   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

   html,
   body {
       height: 100%;
       width: 100%;
       background-color: #1b1b1b;
       user-select: none;
   }

   #main {
       width: 100%;
       min-height: 100vh;
   }

   header {
       width: 100%;
       height: 10vh;
       margin: auto;
       display: flex;
       align-items: center;
       justify-content: space-between;
       position: fixed;
       color: white;
       z-index: 2;

   }

   #sound {
       padding: 7px;
       background-color: #1b1b1b;
       display: flex;
       align-items: center;
       display: flex;
       color: white;
       border-radius: 5px;
   }

   .ri-soundcloud-fill {
       font-size: 1.2rem;
       margin: 7px;
       color: #f50057;
   }

   .on-off {
       display: flex;
       margin-left: 5px;
       cursor: pointer;
   }

   #off {
       color: #f50057;
   }

   #on {
       color: #08fdd8;
       display: none;
   }

   .ri-close-fill {
       display: none;
   }


   .i {
       font-size: 2rem;
       padding: 10px;
       background-color: #181818;
       color: white;
       cursor: pointer;
   }

   #myAudio {}

   /* ASIDE */
   .aside {
       width: 100%;
       height: 0%;
       overflow: hidden;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 1;
       background-color: #191919;
       ;
   }

   .show-now {
       height: 100%;
       overflow: visible;
   }

   .aside-wrapper {
       height: 100VH;
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;
   }

   .logo-section {
       min-height: 32vh;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background-color: black;
       color: white;
   }

   .logo {
       display: grid;
       place-items: center;
       text-decoration: none;
   }

   .logo img {
       width: 85px;
       height: auto;
       border-radius:50%;
   }

   .logo span {
       font-size: 1.7rem;
       color: white;
   }

   .logo-section>span {
       margin-top: 25px;
       font-size: 12px;
       font-family: 'Times New Roman', Times, serif;
   }

   .nav-links a {
       display: block;
       align-items: center;
       line-height: 3rem;
       text-decoration: none;
       color: #908069;
   }

   .nav-links a:hover {
       color: #08fdd8;
   }

   .nav-links a::before {
       content: "";
       width: 100%;
       height: 1px;
       position: absolute;
       left: 0;
       background-color: #2d2d2e;
   }

   /* social icon */
   .social-icon {
       display: flex;
       list-style: none;
       margin-bottom: 30px;
   }

   .social-icon li {
       width: 30px;
       font-size: 1rem;
       color: white;
   }

   .social-icon li a {
       text-decoration: none;
       color: #909096;
   }

   .social-icon li a:hover {
       color: #08fdd8;
   }

   .section-home {
       color: white;
       min-height: 100vh;
       align-items: center;
       display: flex;
       padding-left: 1.5rem;
   }

   .text-zone h1 {
       font-size: 3rem;
       line-height: 50px;
       letter-spacing: -3px;
   }

   .text-zone img {
       width: 30px;
       height: 50px;
   }

   .text-zone .gray-text {
       margin-top: 30px;
       color: #a2a2a3;
       font-size: 14px;
       letter-spacing: 3px;
       position: relative;
   }

   .contract-button {
       margin-top: 50px 0 0;
       text-decoration: none;
       max-width: 190px;
       width: 100%;
       height: 40px;
       display: block;
       line-height: 40px;
       letter-spacing: 3px;
       position: relative;
       text-align: center;

   }

   a {
       text-decoration: none;
   }

   .contract-button div {
       position: relative;
       width: 100%;
       height: 100%;
       overflow: hidden;
       transition: all .3s ease-in-out;
   }

   .contract-button .bg {
       position: absolute;
       width: 0%;
       height: 100%;
       left: -5px;
       top: 0;
       transition: all .8s ease-in-out;
       background-color: #08fdd8;
       transform: skewX(-19deg);
   }

   .contract-button :hover .bg {
       width: 110%;
   }

   .contract-button span.base {
       width: 100%;
       position: absolute;
       left: 0;
       border: 1px solid #08fdd8;
       height: 100%;
   }

   .contract-button .text {
       color: #08fdd8;
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;

   }

   .contract-button :hover .text {
       color: #1d1d1d;
   }

   .scroll-down {
       position: absolute;
       right: -20px;
       color: white;
       bottom: 3.3rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       transform: rotate(90deg);
       display: block;
       justify-content: center;
       align-items: center;
       font-size: 14px;
   }

   .scroll-down span {
       animation: scroll .5s linear infinite alternate-reverse;
       display: inline-block;
   }

   @keyframes scroll {
       0% {
           transform: translateX(-7px);
       }

       100% {
           transform: translateX(7px);
       }
   }

   .scroll-down-left {
       left: -30px;
       right: auto;
   }

   #section-work {
       padding: 5rem 0 5rem 1.5rem;
       position: relative;
       color: white;
   }

   #header {
       font-size: 2rem;
       color: #08fdd8;
       margin-bottom: 30px;
   }

   .text-zone-2 p {
       line-height: 1.5;
   }

   .face-big-2 {
       font-size: 12rem;
       position: absolute;
       color: #2d2d2e;
       left: 10px;
       bottom: -70px;
       letter-spacing: -10px;
       z-index: -9;
   }

   .fack-magicwall {
       background-color: rgb(255, 255, 255, 0.1);

   }

   .fack-magicwall ul {
       list-style: none;
       display: flex;
       display: -webkit-flex;
       display: -ms-flexbox;
       flex-wrap: wrap;


   }

   .fack-magicwall ul li {
       width: 218px;
       position: relative;
       height: 160px;
       display: list-item;
       display: flex;
       align-items: center;
       justify-content: center;
       overflow: hidden;
   }

   .fack-magicwall .magic-wall-item {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       transition: transform 0.5s opacity 0.5s;
   }

   .fack-magicwall img {
       width: 100%;
       height: 100%;
       offset: cover;
       position: relative;
   }

   .fack-magicwall ul li :hover img {
       transform: scale(1.14);
   }

   .fack-magicwall .colorbox {
       display: block;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       height: 20vh;
       width: 20vh;
       position: absolute;
       opacity: 1;
       transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
       -webkit-transition: all 1s ease-in-out;
       transform: scale(0.2);
       transform: translate(-50%, -50%);
       border-radius: 50%;
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       text-decoration: none;
   }

   .colorbox h3 {
       text-transform: capitalize;
       text-decoration: none;
       align-items: center;
       font-size: 2vw;
       display: none;
   }


   .fack-magicwall ul li :hover .colorbox h3 {
       display: inline;
   }

   .fack-magicwall ul li :hover .colorbox {
       opacity: 1;
       background-color: #08fdd8;
   }

   /* aabout */
   .section-about {
       width: 100%;
       min-height: 100%;
       color: white;
       padding: 30px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;
   }

   .text-zone-3 h1 {
       color: #08fdd8;
   }

   .text-zone-3 p {
       line-height: 1.5;
   }

   .animation-skill {
       width: 400px;
       height: 400px;
       background-color: red;
   }

   .text-zone-2 a {
       text-decoration: none;
       color: #08fdd8;
   }

   /* contract me */
   .contract {
       padding: 30px;
       color: white;
       display: flex;
       flex-direction: column;
   }

   .contract p {
       width: ;
   }

   .contract form {
       display: flex;
       flex-direction: column;
       width: 380px;
   }

   .contract input {
       background-color: #2d2d2e;
       margin-bottom: 20px;
       height: 50px;
       outline: none;
       color: white;
       border: none;
       padding: 20px;
       font-size: 20px;
   }

   .contract form textarea {
       height: 150px;
       padding: 20px;
       font-size: 20px;
       background-color: #2d2d2e;
       outline: none;
       border: none;
       margin-bottom: 15px
   }

   iframe {
       width: 100%;
       height: 300px;
       margin-top: 50px;
   }

   .skill {
       padding: 30px;
       width: 100%;
       min-height: 80vh;
       color: white;
       display: flex;
       flex-direction: column;
   }

   .skill a {
       text-decoration: none;
       color: #08fdd8;
   }

   #s-s {
       display: flex;
       flex-direction: column;
   }

   .skill-box {
       display: flex;
       flex-direction: column;
   }

   .front-dev {
       width: 350px;
       min-height: 200px;
       background-color: #2d2d2e;
       margin-top: 10px;
       padding: 20px;
   }

   .front-dev span {
       font-size: 13px;
   }



   .rang {
       margin: 10px;
       width: 500px;
       height: 4px;
       background-color: #1d1d1d;
       position: relative;
   }

   .rang div {
       width: 60%;
       height: 100%;
       margin-left: -10px;

   }

   .front-dev {}

   .cv {
       margin-left: 30px;
       width: 100%;
       min-height: 80vh;
   }

   .cv img {
       width: 100%;
   }

   #textani {
       transition: 0.2s ease-in-out color;

   }

   #textani:hover {
       color: #08fdd8;
       cursor: pointer;
       display: inline-block;
       animation: rubberband 1s ease-in-out forwards;
   }

   @keyframes rubberband {
       0% {
           transform: scale3d(1, 1, 1);
       }

       30% {
           transform: scale3d(1.25, .75, 1);
       }

       40% {
           transform: scale3d(1.15, 1.27, 1);
       }

       50% {
           transform: scale3d(1.15, .75, 1);
       }

       65% {
           transform: scale3d(0.95, 1 .85, 1);
       }

       75% {
           transform: scale3d(1.05, .95, 1);
       }

       100% {
           transform: scale3d(.95, 1.05, 1);
       }

   }

   /* media quary */
   @media screen and (min-width:950px) {

       body {}

       header {
           justify-content: flex-end;
       }

       .btn-container {
           display: none;
       }

       .aside {
           height: 100%;
           width: 10%;
           position: fixed;
       }

       .aside-wrapper {
           height: 80%;
       }

       .logo-section {
           min-height: 25vh;
       }

       .logo {
        text-decoration: none;
       }

       .logo img {
        width: 80px;
        height: auto;
        border-radius: 50%;
        object-position: top;
    }

       .social-icon {
           margin-bottom: 0;
       }

       .social-icon li {
           align-items: center;
           font-size: 1rem;
       }

       .section-home {
           padding-left: 13rem;
       }


       .text-zone h1 {
           font-size: 6.3rem;
           line-height: 85px;
           letter-spacing: -6px;
           position: relative;
       }

       /*  .text-zone h1::before {
           content: "<h1>";
           position: absolute;
           top: -80px;
           left: -10px;
           font-size: 1rem;
           color: #666565;
           letter-spacing: 3px;
       }

       .text-zone h1::after {
           content: "</h1>";
           position: absolute;
           bottom: -30px;
           right: -80px;
           font-size: 1rem;
           color: #666565;
           letter-spacing: 3px;
       } */

       .text-zone img {
           width: 90px;
           height: 80px;
       }

       .text-zone .gray-text {
           font-style: 1rem;
           position: relative;
       }



       /*  .text-zone .gray-text::before {
           content: "<p>";
           position: absolute;
           top: -30px;
           left: 0;
           font-size: 1rem;
           color: #666565;
           letter-spacing: 3px;
       }

       .text-zone .gray-text::after {
           content: "</p>";
           position: absolute;
           bottom: -30px;
           left: 0;
           font-size: 1rem;
           color: #666565;
           letter-spacing: 3px;
       } */

       .scroll-down {
           right: -30px;
           bottom: 3.3rem;
       }

       .scroll-down-left {
           left: 110px;
           right: auto;
       }

       #section-work {
           width: 85%;
           margin: 0 30px 0 auto;
           display: flex;
           flex-direction: column;
       }

       .text-zone-2 {
           display: flex;
           justify-content: space-between;
           align-items: center;
       }

       #header {
           font-size: 2.5rem
       }

       .text-zone-2 p {
           font-size: 14px;
           width: 700px;
           list-style: none;
       }

       .face-big-2 {
           font-size: 25rem;
           font-weight: 700;
           left: 560px;
           top: 0;

       }

       .fack-magicwall {
           padding-left: 8.5rem;
       }

       .fack-magicwall ul li {
           width: 334px;
           height: 236px;
       }



       /* aabout */
       .section-about {
           padding-left: 200px;
           flex-direction: row;
           align-items: flex-start;
       }

       .text-zone-3 h1 {
           color: #08fdd8;
       }

       .text-zone-3 p {
           line-height: 1.5;
           width: 700px;
           margin-bottom: 20px;
       }

       .animation-skill {
           width: 600px;
           height: 600px;
           background-color: red;
       }

       /* contract form */

       .contract {
           padding-left: 200px;
           color: white;
           display: flex;
           align-items: center;
           flex-direction: row;
       }

       .contract p {
           width: 700px;
       }

       .contract form {
           display: flex;
           flex-direction: column;
           width: 380px;
       }

       .contract input {
           background-color: #2d2d2e;
           margin-bottom: 20px;
           height: 50px;
           outline: none;
           width: 600px;
           color: white;
           border: none;
           padding: 20px;
           font-size: 20px;
       }

       .contract form textarea {
           height: 180px;
           margin-bottom: 15px;
           width: 600px;
           padding: 20px;
           font-size: 20px;
           background-color: #2d2d2e;
           outline: none;
           border: none;

       }

       iframe {
           height: 500px;
       }

       /* skill */
       .skill {
           padding-left: 200px;
           flex-direction: row;

       }

       .skill a {
           text-decoration: none;
           color: #08fdd8;
       }

       .skill p {
           width: 650px;
       }

       .rang {
           margin-top: 10px;
           width: 450px;
           height: 5px;
       }

       .rang div {
           height: 100%;
           background-color: red;
       }



       #s-s {
           text-align: left;

       }

       .skill-box {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           width: 540px;
           gap: 20px;
       }

       .front-dev {
           width: 280px;
           height: 300px;
       }

       .front-dev p {
           width: 190px;
       }

       section {
           min-height: 100vh;
           width: 100%;
       }
     
   }